$lightbox-bgcolor : #0B0319;

$lightbox-spacing : 64px;

@import './_reset';

.lightbox {
    position:fixed;
    top:0; left:0;
    z-index:500;
    display:none;

    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    padding:$lightbox-spacing;
    box-sizing:border-box;

    background:$lightbox-bgcolor;

    &.active{
        display:flex;
    }

    &__message{
        color:#b4b4b4;
        font-family:Arial, sans-serif;
        font-size:14px;
        line-height:20px;
        text-align:center;

        &_loader{
            display:none;
        }

        &_error{
            padding:32px 64px;
        }
    }

    &.loading &__message{
        &_loader{
            display:block;
        }
    }


    &__inner{
        position:relative;
    }

    &__content{
        img, video, canvas{
            display:block;
            max-width:calc(100vw - #{$lightbox-spacing * 2});
            max-height:calc(100vh - #{$lightbox-spacing * 2});
            height:auto;
        }
    }

    &__ui{
        z-index:510;
        &_element{
            position:absolute;
            width:64px;
            height:32px;
            line-height:32px;
            display:block;
            background:rgba(255, 255, 255, 0.15);
            border:none;
            outline:none;
            text-align:center;
            font-size:13px;
            color:#fff;
            border-radius:32px;
            cursor:pointer;

            &_close{
                top:-48px;
                right:0;
            }

            &_controls{
                position:fixed;
                width:32px;
                top:calc((100% - 32px) / 2);
                &_next{
                    right:$lightbox-spacing / 2 - 16;
                }
                &_prev{
                    left:$lightbox-spacing / 2 - 16;
                }
            }

            &.hidden{
                display:none;
            }
            &.disabled{
                opacity:0.25;
                cursor:default;
            }
        }
    }

    &.loading &__ui{
        display:none;
    }

    @media only screen and (max-device-width: 767px) {
        padding:0;

        &__ui{
            &_element{
                &_close{
                    position:fixed;
                    top:16px;
                    right:16px;
                }
                &_controls{
                    display:none !important;
                }
            }
        }

        &__content{
            img, video, canvas{
                max-width:100vw;
                max-height:100vh;
            }
        }
    }
}