.lightbox .ui-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 32px;
    position: fixed;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    font-family: $lightbox-font;
    font-size: .9em;
    line-height: 32px;
    color: $lightbox-ui-element-color;
    text-align: center;
    cursor: pointer;
    outline: none;

    &.hidden {
        display: none;
    }

    &.disabled {
        cursor: default;
        opacity: .25;
    }

    &_close {
        width: 48px;
        top: 0;
        right: 0;
    }

    &_controls {
        width: 48px;
        top: calc(100% - 32px);

        &-next {
            right: 0;
        }

        &-prev {
            left: 0;
        }
    }

    &_pagination {
        width: 96px;
        bottom: 0;
        left: calc((100% - 96px) / 2);
    }

    &_bulletlist {
        width: 100%;
        bottom: -32px;
        left: 0;
    }

    @media only screen and (min-device-width: $lightbox-mobile-breakpoint) {
        position: absolute;

        &_close {
            width: 32px;
            top: -48px;
            right: 0;
        }

        &_controls {
            width: 32px;
            position: fixed;
            top: calc((100% - 32px) / 2);

            &-next {
                right: $lightbox-hspacing / 2 - 16px;
            }

            &-prev {
                left: $lightbox-hspacing / 2 - 16px;
            }
        }

        &_pagination {
            width: fit-content;
            bottom: -32px;
            left: 0;
        }
    }
}
