.lightbox .ui-message {
    font-size: 1em;
    line-height: 20px;
    color: $lightbox-ui-message-color;
    text-align: center;

    &_loader {
        display: none;
        color: $lightbox-ui-message-loader-color;
    }

    &_error {
        padding: 32px 64px;
        font-size: 1.15em;
        line-height: 24px;

        .error_message {
            font-size: .9em;
            color: $lightbox-ui-message-error-color;
        }
    }
}
