$lightbox-mobile-breakpoint : 768px;

$lightbox-vspacing-mobile : 32px;
$lightbox-hspacing-mobile : 16px;
$lightbox-vspacing : 64px;
$lightbox-hspacing : 96px;

$lightbox-bgcolor : rgba(20, 20, 20, .925);

$lightbox-font : 'Arial', sans-serif;
$lightbox-fontsize : 15px;

$lightbox-message-color : #b4b4b4;
$lightbox-message-loader-color : #b4b4b4;
$lightbox-message-error-color : #807f7f;

$lightbox-ui-element-color : #ffffff;
$lightbox-ui-close-content : 'x'; // url('./../../icons/cross.svg');
$lightbox-ui-next-content : '>';
$lightbox-ui-prev-content : '<';

$lightbox-bulletlist-bgcolor : #414141;
$lightbox-bulletlist-bgcolor-active : #d4d4d4;
$lightbox-bulletlist-bgcolor-hover : #919191;

$lightbox-pagination-color : #b4b4b4;

$lightbox-ui-icon-color : #ffffff;
$lightbox-ui-icon-color-hover : #ffffff;
