$white: #ffffff;
$turquoise: #34d1bf;
$pomegranate: #f33a1c;
$bittersweet: #ff715b;

$lightbox-vspacing-mobile : 64px;
$lightbox-hspacing-mobile : 16px;

$lightbox-vspacing : 96px;
$lightbox-hspacing : 64px;

$lightbox-bgcolor : rgba($turquoise, .95);
$lightbox-font : 'Open Sans', sans-serif;

@import '../../core';
@import './lightbox';
@import './ui-element';
@import './ui-message';
