[data-lightbox] {
    cursor: pointer;
}

.lightbox {
    background: $lightbox-bgcolor;
    font-family: $lightbox-font;
    font-size: 15px;

    .icon {
        font-style: normal;
        vertical-align: middle;
    }

    &__container {
        figure {
            border-radius: 2px;
        }
    }

    &__ui {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: calc(100% + #{$lightbox-vspacing-mobile});
        position: absolute;
        top: -$lightbox-vspacing-mobile;
        left: 0;
        z-index: 510;
        padding-top: calc(#{$lightbox-vspacing-mobile} / 2 - 16px);

        &_element {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 32px;
            background: transparent;
            border: none;
            border-radius: 0;
            font-family: $lightbox-font;
            font-size: .9em;
            line-height: 32px;
            color: #ffffff;
            text-align: center;
            cursor: pointer;
            outline: none;

            &.hidden {
                display: none;
            }

            &.disabled {
                cursor: default;
                opacity: .25;
            }
        }
    }

    &.animating &__ui {
        opacity: 0;
        visibility: hidden;
        transition: none;
    }

    @media only screen and (min-device-width: 768px) {
        font-size: 14px;

        &__ui {
            height: calc(100% + #{$lightbox-vspacing});
            top: -$lightbox-vspacing;
            padding-top: calc(#{$lightbox-vspacing} / 2 - 16px);
            opacity: 1;
            visibility: visible;
            transition: opacity ease .25s;
        }
    }
}
