.lightbox .ui-element {
    &_close {
        width: 48px;
        top: 0;
        right: 0;
        font-size: 2rem;

        .icon {
            color: $white;
            opacity: .5;
        }

        &:hover .icon {
            opacity: 1;
        }
    }

    &_controls {
        width: 48px;
        top: calc(100% - 32px);
        padding: 0;
        font-size: 1.85rem;

        &-next {
            right: 0;
            margin-left: 16px;
            order: 3;
        }

        &-prev {
            left: 0;
            margin-right: 16px;
            order: 1;
        }

        .icon {
            color: $white;
            opacity: .5;
        }

        &:hover .icon {
            opacity: 1;
        }
    }

    &_pagination {
        width: 96px;
        position: absolute;
        bottom: -($lightbox-vspacing-mobile / 2 + 16px);
        left: calc((100% - 96px) / 2);
        background: transparent;
        text-align: left;
        cursor: default;
    }

    &_bulletlist {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: fit-content;
        top: 32px;
        left: 0;
        padding: 0;
        margin: 0;
        background: transparent;
        border-radius: 0;
        list-style-type: none;
        order: 2;

        li {
            display: flex;
            flex-shrink: 0;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            opacity: .5;

            &::after {
                display: block;
                width: 8px;
                height: 8px;
                background: $white;
                border-radius: 50%;
                content: '';
            }

            &:hover {
                opacity: 1;
            }

            &.active, &.active:hover {  // stylelint-disable-line
                opacity: 1; // stylelint-disable-line

                &::after {  // stylelint-disable-line
                    background: $bittersweet;
                }
            }
        }
    }

    @media only screen and (min-device-width: 768px) {
        &_close {
            width: 32px;
            position: fixed;
            top: 32px;
            right: 32px;
        }

        &_pagination {
            bottom: -($lightbox-vspacing / 2 + 16px);
        }

        &_controls {
            width: 32px;
            position: static;
        }
    }
}
