.lightbox {
    position:fixed;
    top:0; 
    left:0;
    z-index:500;
    display:none;
    padding:$lightbox-vspacing-mobile $lightbox-hspacing-mobile;
    overflow:hidden;

    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    box-sizing:border-box;

    &.active{
        display:flex;
    }

    &.no_ui &__ui {
        display:none;
    }
    &.loading &__ui {
        display:none;
    }

    &__container {
        display:none;

        &.active {
            display:block;
        }

        img, video, canvas, .map{
            display:block;
            max-width:100vw;
            max-height:calc(100vh - #{$lightbox-vspacing});
            height:auto;
            margin:0;
        }
        figure{
            margin:0;
            overflow:hidden;
        }
    }

    &__message{
        margin:0;
        display:flex;
        flex-direction:column;
        flex-wrap:nowrap;
        align-items:center;
        justify-content:center;

        &_loader{
            display:none;
        }

        &_nopointerevent {
            pointer-events: none;
        }

        &_error{
            .error_message {
                display:block;
            }
        }
    }

    &.loading &__message{
        &_loader{
            display:block;
        }
    }


    &__inner{
        position:relative;
    }

    @media only screen and (min-device-width: 768px) {
        padding:$lightbox-vspacing $lightbox-hspacing;
        
        &__container{
            img, video, canvas, .map{
                max-width:calc(100vw - #{$lightbox-hspacing * 2});
                max-height:calc(100vh - #{$lightbox-vspacing * 2});
            }
        }
    }
}