@import './config';

[data-lightbox] {
    cursor: pointer;
}

.lightbox {
    font-size:15px;
    font-family:$lightbox-font;
    background:$lightbox-bgcolor;

    &__container {
        figure{
            border-radius:2px;
        }
    }

    &__message{
        color:#b4b4b4;
        font-size:1em;
        line-height:20px;
        text-align:center;

        &_loader{
            display:none;
        }

        &_error{
            font-size:1.15em;
            line-height:24px;
            padding:32px 64px;

            .error_message {
                font-size:0.9em;
                color:#807f7f;
            }
        }
    }

    &__ui{
        z-index:510;
        &_element{
            position:fixed;
            width:64px;
            height:32px;
            line-height:32px;
            display:flex;
            align-items:center;
            justify-content:center;
            border:none;
            outline:none;
            text-align:center;
            font-size:0.9em;
            color:#fff;
            background:transparent;
            font-family:$lightbox-font;
            border-radius:0;
            cursor:pointer;

            &:hover:not(.disabled){
                background:rgba(255, 255, 255, 0.25);
                transition:background ease 0.35s;
            }

            &_close{
                width:48px;
                top:0;
                right:0;
                font-size:1.25rem;
            }

            &_controls{
                width:48px;
                top:calc(100% - 32px);
                padding:0;

                &_next {
                    right:0;
                }
                &_prev {
                    left:0;
                }

                .icon{
                    transform-origin:center;
                    transform:scaleX(0.6);
                    &_prev{
                        transform:scaleX(0.6) rotate(180deg);
                    }
                }
            }

            &_pagination{
                width:96px;
                bottom:0;
                left:calc((100% - 96px) / 2);
                text-align:left;
                cursor:default;
            }

            &.hidden{
                display:none;
            }
            &.disabled{
                opacity:0.25;
                cursor:default;
            }
        }
    }

    &.animating &__ui{
        visibility:hidden;
        opacity:0;
        transition:none;
    }

    @media only screen and (min-device-width: 768px) {
        font-size:14px;

        &__ui{
            visibility:visible;
            opacity:1;
            transition:opacity ease 0.25s;

            &_element{
                position:absolute;
                background:rgba(255, 255, 255, 0.15);
                border-radius:32px;
                &_close{
                    width:32px;
                    position:absolute;
                    top:-48px;
                    right:0;
                }
                &_controls{
                    position:fixed;
                    width:32px;
                    top:calc((100% - 32px) / 2);
                    &_next {
                        right:$lightbox-hspacing / 2 - 16px;
                    }
                    &_prev {
                        left:$lightbox-hspacing / 2 - 16px;
                    }
                }
                &_pagination{
                    background:transparent;
                    width:fit-content;
                    bottom:-32px;
                    left:0;
                }
            }
        }
    }
}